.article {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--darkGrey);
}

.article h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.article .heading-topic {
  border: 1px solid;
}

.article .content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.article .content .body::first-letter {
  float: left;
  font-size: 250%;
  padding: 0 5px 0 0;
  line-height: 0.9em;
  vertical-align: bottom;
}

.article img {
  float: left;
  margin: 0 15px 15px 0;
  width: 100%;
  max-width: 500px;
  border-left: 20px solid #000;
  border-right: 20px solid #000;
}

.article .votes {
  padding: 10px 10px 10px 20px;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.article .votes p {
  margin: 0;
}

.article .votes .error-msg {
  color: white;
  background-color: var(--red);
  padding: 0 3px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  left: 20px;
  top: 48px;
}

.article .votes .voting-buttons {
  display: flex;
  gap: 5px;
}

.article .votes .voting-buttons button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 5px 10px 2px;
  border-radius: 4px;
  font-weight: 700;
}

.article .votes .voting-buttons button:disabled {
  opacity: 0.5;
  cursor: default;
}

.article .votes .voting-buttons .up-vote {
  background-color: var(--green);
}

.article .votes .voting-buttons .down-vote {
  background-color: var(--red);
}

.article .author {
  text-align: right;
}
