.sorting {
  padding: 15px;
  background-color: var(--lightGrey);
}

.sorting label {
  margin-right: 5px;
}

.sorting select {
  margin-right: 8px;
  padding: 4px;
  border: 2px solid var(--darkGrey);
}

.sorting select:last-child {
  margin-right: 0;
}

.articles-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.articles-list li {
  background-color: var(--lightGrey);
  border-radius: 10px;
}

.articles-list li article {
  padding: 20px 20px 10px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.articles-list li:hover {
  outline: 1px solid var(--darkGrey);
}

.articles-list li article img {
  width: 100%;
  max-width: 400px;
}

.articles-list li article h3 {
  margin-top: 10px;
}

.articles-list li article .created,
.articles-list li article .author,
.articles-list li article .votes,
.articles-list li article .comments {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0;
}

.articles-list li article .topic {
  border: 1px solid;
  padding: 2px 5px;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .articles-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}
