.article {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--darkGrey);
}

.article h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.article .heading-topic {
  border: 1px solid;
}

.article img {
  float: left;
  margin: 0 15px 15px 0;
  width: 100%;
  max-width: 500px;
}

.article .votes {
  padding: 10px 20px;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.article .votes .error-msg {
  color: white;
  background-color: var(--red);
  padding: 0 3px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  left: 20px;
  top: 48px;
}

.article .votes .voting-buttons {
  display: flex;
  gap: 5px;
}

.article .votes .voting-buttons button {
  cursor: pointer;
}

.article .author {
  text-align: right;
}
