.comment-form {
  background-color: var(--lightGrey);
  padding: 1px 20px 20px;
  display: flex;
  flex-direction: column;
}

.comment-form h4 {
  margin-bottom: 2px;
}

.comment-form .error-msg {
  color: white;
  background-color: var(--red);
  padding: 0 3px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.comment-form textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--darkGrey);
}

.comment-form button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
}
