.comments-wrapper {
  padding: 20px;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comments-list li {
  margin-bottom: 15px;
}

.comments-list li article {
  padding: 10px 20px;
  background-color: var(--lightGrey);
}

.comments-list li article .author {
  background-color: var(--darkGrey);
  border-radius: 4px;
  padding: 8px 8px 8px 12px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.comments-list li article .author .votes {
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--darkGrey);
  font-size: 12px;
}

.comments-list li article .comment-body {
  padding: 0 5px;
}

.comments-list li article .comment-date {
  font-size: 12px;
  padding: 0 5px;
}

.comments-list li article .delete-comment-button {
  background-color: var(--red);
  box-shadow: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
}

.comments-list li article .delete-comment-button:disabled {
  opacity: 0.7;
  cursor: default;
}
