.main-nav {
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid var(--darkGrey);
}

.main-nav a {
  padding: 5px 10px;
  border-radius: 15px;
}

.main-nav a.active {
  background-color: var(--lightGrey);
}
