#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1rem 0;
}

.error-msg {
  background-color: var(--red);
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
  text-align: center;
}

main {
  margin-bottom: 40px;
}

footer {
  background-color: var(--darkGrey);
  color: white;
  padding: 10px 20px;
}

footer p {
  text-align: right;
}
