* {
  box-sizing: border-box;
}

:root {
  --lightGrey: #f7f7f7;
  --darkGrey: #4c6272;
  --red: #d5281b;
  --green: #007f3b;
  --warmYellow: #ffb81c;
  --text: #212b32;
  --links: #005eb8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
}

a {
  font-weight: 500;
  color: var(--links);
  text-decoration: inherit;
}
a:hover {
  color: var(--links);
}

.clearfix {
  clear: both;
}

.layout-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-column {
  flex-basis: 100%;
  padding: 5px 0;
  min-width: 0;
}

@media screen and (min-width: 800px) {
  .layout-column {
    flex: 1;
    margin-right: 20px;
    position: relative;
  }

  .layout-column:last-child {
    margin-right: 0;
  }

  ._25 {
    flex: 2.5;
  }

  ._75 {
    flex: 7.5;
  }
}
